@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.footer-block{
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-content: center;
}
.footer-block .links {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    margin: 50px;
}

.footer-block .links *{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(139, 137, 137);
}
.footer-block .links * h3{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}
.footer-block .links * a{
    padding-bottom: 5px;
}
.footer-block #icon{
    width: 30px;
    height: 30px;
}