.main-project-section{
    display: block;
    border-bottom: 1px solid  gainsboro;
    width: 100%;
    height: auto;
}
.main-projects-container{
    margin: auto;
    display: grid;
    grid-template-columns: 55% 45%;
    /* background: green; */
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}


