/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&display=swap');
.recommand-projects-block{
    grid-column: 2;
    padding-left: 70px;
    width: 526px;
}

.recommand-projects-block #posture{
    width: 176px;
    height: 90px;
    padding-right: 20px;
}
.recommand-projects-block #posture:hover{
    cursor: pointer;
}
.recommand-projects-block h3{
    font-family: 'Khand', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 18px;
    color: #656969;
}
.recommand-projects-block h1{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    
}
.recommand-projects-block h1:hover{
    cursor: pointer;
    text-decoration: underline;
}
.recommand-projects-block #founder{
    font-size: 14px;
    font-family: 'Josefin Slab', serif;
    color: #656969;
    font-family: 'Khand', sans-serif;
    font-weight: 600;
}
.recommand-projects-block #founder-name{
    color: #656969;
}
.recommand-projects-block #found-percentage{
    /* font-size: 12px; */
    font-weight: 800;
    font-family: 'Khand', sans-serif;
    color: #037362;
}

.project-index-item-block{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid  gainsboro;
}

.project-index-item-intaincer{
    display: flex;
    padding-top: 14px;
    margin-bottom: 0px;
}
.project-index-item-intaincer:hover h1{
    color: rgb(2, 134, 2);
    text-decoration: underline;
}
.recom-project-info *{
    padding-bottom: 5px;
}
.recom-project-info{
    display: block;
}
.pages-footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 350px;
    padding-top: 25px;
    /* text-align: right; */
}
.pages-footer ul li{
    margin-left: 12px;
    margin-right: 12px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: rgb(69, 69, 243);
}
.pages-footer ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}
.pages-footer ul li:focus{
    text-decoration: underline;
    color: rgb(2, 2, 109);
}

 #founder-name{
    /* font-family: 'Imbue', serif; */
    color: black;
    text-decoration: none;
    /* font-weight: bold; */
}
#founder-name:hover{
    text-decoration: underline;
}
#feature-founder{
    padding-top: 20px;
    font-weight: 800;
}

.like-or-not *{
    height:15px;
    width: 15px;
    
    color: rgb(224, 223, 223);
    
    
}
.like-or-not *:hover{
    cursor: pointer;
}
.like-or-not #dislike{
    padding-top: 10px;
    padding-left: 10px;
}
.project-index-item-block .project-index-item-intaincer #sample{
    width:196px;
    height: 90px;
    padding-right: 20px;
}

.footer-tabs{
    margin-top: 20px;
}

.footer-tabs #arrow{
    width: auto;
    height: auto;
}
.footer-tabs #arrow:hover{
    border: 1px solid rgb(108, 172, 245);
    border-radius: 100%;
    text-decoration: none;
}