.recommand-projects-block{
    grid-column: 2;
    padding-left: 70px;
}

.recommand-projects-block #posture{
    width: 176px;
    height: 90px;
    padding-right: 20px;
}
.recommand-projects-block h3{
    font-family: 'Khand', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 18px;
}
.recommand-projects-block h1{
    font-size: 14px;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
}
.recommand-projects-block h1:hover{
    cursor: pointer;
    text-decoration: underline;
}
.recommand-projects-block #founder{
    font-size: 12px;
    font-family: 'Josefin Slab', serif;
}
.recommand-projects-block #found-percentage{
    font-size: 12px;
    color: rgb(3, 109, 3);
    font-weight: bold;
}
.project-index-item-block{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid  gainsboro;
}

.project-index-item-intaincer{
    display: flex;
    padding-top: 14px;
    margin-bottom: 0px;
}
.project-index-item-intaincer:hover h1{
    color: rgb(2, 134, 2);
    text-decoration: underline;
}
.recom-project-info *{
    padding-bottom: 10px;
}
.recom-project-info{
    display: block;
}
.pages-footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 350px;
    padding-top: 25px;
    /* text-align: right; */
}
.pages-footer ul li{
    margin-left: 12px;
    margin-right: 12px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: rgb(69, 69, 243);
}
.pages-footer ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}
.pages-footer ul li:focus{
    text-decoration: underline;
    color: rgb(2, 2, 109);
}

 #founder-name{
    /* font-family: 'Imbue', serif; */
    color: black;
    text-decoration: none;
    /* font-weight: bold; */
}
#founder-name:hover{
    text-decoration: underline;
}
#feature-founder{
    padding-top: 20px;
}
.recom-project-info #founder #name{
    text-decoration: none;
    color: rgb(155, 153, 153);
}.recom-project-info #founder #name:hover{
    text-decoration: underline;
}
.like-or-not *{
    height:20px;
    width: 22px;
    padding-left: 10px;
}
.like-or-not *:hover{
    cursor: pointer;
}
.like-or-not #dislike{
    padding-top: 5px;
}
.project-index-item-block .project-index-item-intaincer #sample{
    width:196px;
    height: 90px;
    padding-right: 20px;
}