@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');
.dashboard-main{
    height: 100%;
    width: 100%;
}
.dashboard-head{
    height: 300px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dashboard-head h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 20px;
    }
.dashboard-head p{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 16px;
    }
.dashboard-body{
    border: 1px solid gainsboro;
}
.body-block{
    width: 80%;
    margin: auto;
}
.body-block h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-top: 50px;
}
.body-block .editform-links{
    margin-top: 30px;
    margin-bottom: 40px;
}
.body-block .editform-links ul{
    border: 1px solid rgb(224, 231, 214);
    border-bottom: none;
}
.body-block .editform-links ul li{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    display: block;
    border-bottom: 1px solid rgb(224, 231, 214);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    
}
.body-block .editform-links ul li:hover{
    background: rgb(233, 233, 233);
    cursor: pointer;
    transition-delay: 0.1s;
}
.body-block .editform-links ul li a{
    text-decoration: none;
    color: black;
}
.body-block .editform-links ul li p{
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: rgb(189, 188, 188)
}