.tab-header-block{
    width: 100%;
    height: 84px;
    border-bottom: 1px solid gainsboro;
    box-shadow: 0px 15px 10px -15px #dddddd;
    padding-top: 80px;
}
.tab-header-container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding-top: 10px;
}
.tab-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.tab-header li {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.tab-header li:hover{
    cursor: pointer;
}
.tab-header li span{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.tab-header img{
    width: 30px;
    height: 30px;
}
.-div{
    height: 69px;
    width: 200px; 
}
.active-div{
    height: 69px;
    width: 200px;
    border-bottom: 5px solid limegreen;
}
.tab-header .active{
    font-weight: bold;
}
.tab-header .active img{
    width: 40px;
    height: 40px;
}



.start-from-basic{
    width: 100%;
    height: 210px;
    border-bottom: 1px solid gainsboro;
}
.start-block{
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-block h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    padding-bottom: 20px;
}

.start-block p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: rgb(92, 92, 92);
    text-align: center;
}

.project-name-section{
    width: 100%;
    height: 350px;
    border-bottom: 1px solid gainsboro;
}
.project-name-container{
    width: 90%;
    margin: auto;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

.left{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 40%;
}
.left h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-bottom: 15px;
}

.left .p-block{
    display: flex;
    flex-direction: column;
}
.left .p-block p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-bottom: 30px;
    color: rgb(92, 92, 92);
    line-height: 25px;
}

.right{
    height: 80%;
    width: 50%;  
}
.right-container{
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    
}
.right-container div{
    display: flex;
    flex-direction: column;
}
.right-container div label{
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.right-container div input{
    height: 35px;
    padding-left: 15px;
    border-color: gainsboro;
}
.right-container div textarea{
    height: 40px;
    padding: 15px;
    border-color: gainsboro;
}
.right-container div input:hover, .right-container div textarea:hover{
    border-color: green;
}

.right-container div input:focus, .right-container div textarea:focus{
    outline: none;
    border-color: green;
}

.project-category-section{
    width: 100%;
    height: 535px;
    border-bottom: 1px solid gainsboro;
}

.project-category-container{
    width: 90%;
    margin: auto;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

.category-right-container{
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.category-right-container select{
    margin-bottom: 5px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-left: 15px;
    border-color: gainsboro;
}

.category-right-container select:focus{
    outline: none;
    border-color: green;
}

.category-right-container select:hover{
    border-color: green;
    cursor: pointer;
}

.project-location-section{
    width: 100%;
    height: 285px;
    border-bottom: 1px solid gainsboro;
}

.location-right-container{
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.location-right-container select{
    margin-bottom: 5px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-left: 15px;
    border-color: gainsboro;
}

.location-right-container select:focus{
    outline: none;
    border-color: green;
}

.location-right-container select:hover{
    border-color: green;
}

.project-image-section{
    width: 100%;
    height: 595px;
    border-bottom: 1px solid gainsboro;
}

.image-right-conatiner{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 80%;
}
.image-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gainsboro;
    border-style: dashed    ;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background: #f5f5f5;
}
.image-block:hover{
    cursor: pointer;
    border-color: limegreen;
}
#file{
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
    border: 1px solid white;
    border-radius: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image-block #upload-image{
    height: 268px;
    width: 560px;
    position: absolute;
    background: transparent;
    color: transparent;
    opacity: 0;
}
.image-block #upload-image:hover{
    cursor: pointer;
}




.image-block-2{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%); */
    padding: 15px;
}
#upload-image{
    width: 100%;
    height: 320px;
    border: 1px solid gainsboro;
}
.image-block-2 .buttons-container{
    display: flex;
}
.image-block-2 label{
    width: 35px;
    height: 35px;
    background: gainsboro;
    border: none;
    margin-right: 10px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-block-2 label:hover{
    background-color:rgb(179, 179, 179);
    color: white;
    cursor: pointer;
}
.image-block-2 label:focus{
    outline: none;
}
.image-block-2 button{
    width: 35px;
    height: 35px;
    background: gainsboro;
    border: none;
    margin-right: 10px;
    margin-top: 15px;
}
.image-block-2 button:hover{
    background-color:rgb(179, 179, 179);
    color: white;
    cursor: pointer;
}
.image-block-2 button:focus{
    outline: none;
}

.diff-image-dropdown{
    display: block;
    text-align: center;
    width: 80px;
    height: 80px;
    position: relative;
    background: black;
    color: white;
    padding: 10px;
    bottom: 80px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
    transition-delay: 2s;
}
.project-funding-container{
    width: 90%;
    margin: auto;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 32px;
}
.funding-right-container{
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
.funding-right-container label{
    padding-bottom: 15px;
}
.funding-right-container .funding-div{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    border: 1px solid gainsboro;
} 
.funding-right-container .funding-div:hover{
    border-color: limegreen;
}
.funding-right-container .funding-div #dollar-sign{
    width: 20%;
    display: flex;
    /* border: 1px solid gainsboro; */
    padding-bottom: 0px;
    justify-content: center;
    padding-top: 10px;
}
.funding-right-container .funding-div #founding-input{
    width: 80%;
    padding-left: 15px;
    border: none;
    border-left: 1px solid gainsboro;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.funding-div:hover #founding-input{
    border-color: limegreen;
}
#founding-input:focus{
    outline: none;
}

.project-promotion-container{
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}


.project-promotion-container{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.selected-date-container{
    width: 100%;
    display: flex;
    border: 1px solid gainsboro;
    flex-direction: column;
}
.selected-date-container:hover{
    cursor: pointer;
    border-color: limegreen;
}
.selected-date-block{
    margin-bottom: 10px;
}
.selected-date-container .selected-date-upper{
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.selected-date-container .selected-date-lower{
    width: 100%;
    height: 240px;
    border-top: 1px solid gainsboro ;
}

.selected-date-container .selected-date-lower .selected-date-lower-container{
    height: 180px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

.selected-date-lower-container h3{
    margin-bottom: 10px;
}
.selected-date-lower-container #days{
    height: 35px;
    padding-left: 15px;
}
.selected-date-lower-container #days:hover{
    cursor: unset;
    border-color: limegreen;
}
.selected-date-lower-container input:focus{
    outline: none;
}
.selected-date-lower-container  .date-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
}
.date-block .date-block-upper{
    display: flex;
    flex-direction: row;
}
.date-block .date-block-upper h3{
    width: 68px;
}
.date-block .date-block-lower{
    display: flex;
}
.date-block .date-block-lower input{
    width: 50px;
    height: 35px;
    margin-right: 10px;
    text-align: center;
    border-color: gainsboro;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
}
.date-block .date-block-lower select{
    width: 58px;
    height: 42px;
    margin-right: 10px;
    text-align: center;
    border-color: gainsboro;
}
.date-block .date-block-lower h3{
    align-self: center;
    margin-bottom: 0px;
}
.date-block .date-block-lower label{
    width: 42px;
    height: 42px;
    border: none;
    background-color: rgb(238, 237, 237);
    display: flex;
    justify-content: center;
    align-items: center;
}
.date-block .date-block-lower label:hover{
    cursor: pointer;
    box-shadow: 1px 2px 2px 1px #dddddd;
}
#x-lable{
    font-size: 20px;
    font-weight: 700;
}
.date-block .date-block-lower label:focus{
    outline: none;
}

#circle-dot{
    display: flex;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 20px;
    width: 15px;
    height: 15px;
    box-shadow: 0px 2px 0px 0px #dddddd;
    margin-right: 15px;
}
#selected-dot{
    margin-right: 15px;
    color: green;
}

.project-release-section{
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
}
.limitMessage{
    margin-top: 10px;
    color: limegreen;
}
.publishMessage{
    margin-top: 10px;
    color: red;
}
.date-error{
    margin-top: 10px;
    color: red;
}

.publish-button{
    width: 100px;
    height: 35px;
    border: none;
    background: gainsboro;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.publish-button:hover{
    cursor: pointer;
    background: rgb(153, 153, 153);
}
button, select{
    outline: none;
}
.date-block-lower #date-element-origin{
    border-color: gainsboro;
}
.date-block-lower #date-element-display{
    border-color: red;
}
.date-block-lower #date-element-origin:hover{
    border-color: limegreen;
}
.date-block-lower #date-element-origin:focus{
    border-color: limegreen;
}
.date-block-lower #date-element-display:hover{
    border-color: limegreen;
}
.date-block-lower #date-element-display:focus{
    border-color: limegreen;
}
.date-block-lower select:hover{
    border-color: limegreen;
}
.date-block-lower input:focus{
    border-color: limegreen;
}


.add-rewards-section{
    width: 100%;
    height: 210px;
}



.project-description-section{
    width: 100%;
    height: 285px;
    border-bottom: 1px solid gainsboro;
}


.project-risk-section{
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
}

#risks{
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border-color: gainsboro;
}
#risks:hover{
    border-color:  limegreen;
}
#risks:focus{
    border-color:  limegreen;
    outline: none;
}



.edit-button-block{
    width: 100%;
    /* border-bottom: 1px solid gainsboro; */
    padding-top: 60px;
    padding-bottom: 70px;
    font-family: 'Open Sans', sans-serif;
}

.edit-button-block-hide{
    display: none;
}

.edit-button-container{
    width: 90%;
    margin: auto;
}
.edit-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#edit-pre-button{
    border:none;
    background-color: white;
}
#edit-pre-button:hover{
    text-decoration: underline;
    color: limegreen;
    cursor: pointer;
}


#edit-next-button{
    margin-left: 15px;
    padding: 15px;
    border: none;
    color: white;
    background-color: #028858;
    width: 181px;
}

#edit-next-button:hover{
    cursor: pointer;
    background-color: #016b46;
}

#edit-next-button:focus, #edit-pre-button:focus{
    outline: none
}

#edit-save-button{
    margin-left: 15px;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border: none;
    color: white;
    background-color: #028858;
    width: 181px;
}

#edit-save-button:hover{
    cursor: pointer;
    background-color: #016b46;
}

#edit-save-button:focus, #edit-pre-button:focus{
    outline: none
}

#edit-next-button-top{
    margin-left: 15px;
    padding: 15px;
    border: none;
    color: white;
    background-color: #028858;
    width: 226px;
    font-size: 17px;
}
#edit-cancel{
    margin-left: 15px;
    padding: 15px;
    border: 1px solid gainsboro;
    color:rgb(82, 82, 82);
    background-color:white;
    width: 226px;
    font-size: 17px;
}

#edit-cancel:hover{
    cursor: pointer;
    border-color: black;
}

.top-button-conatiner{
    position: fixed;
    top: 11px;
    right: 10px;
    z-index: 20;
}

#edit-next-button-top:hover{
    cursor: pointer;
    background-color: #016b46;
}

.edit-item-top-button-conatiner{
    display: flex;
    margin-top: 50px;
}
.edit-item-top-button-conatiner #edit-next-button-top:hover{
    cursor: pointer;
    background-color: #016b46;
}

#edit-item-next-button-top{
    margin-right: 15px;
    padding: 15px;
    border: none;
    color: white;
    background-color: #028858;
    width: 226px;
    font-size: 17px;
}
#edit-item-cancel{
    margin-right: 15px;
    padding: 15px;
    border: 1px solid gainsboro;
    color:rgb(82, 82, 82);
    background-color:white;
    width: 226px;
    font-size: 17px;
}
