@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.login-container{
    background-color: rgb(248, 248, 248);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    /* vertical-align: middle; */
}
.login-block{
    /* min-height: 100vh; */
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gainsboro;
    width: 400px;
    height: 45%;
    margin-top: 100px;
    padding-top: 20px
}

.login-form{
    margin: none;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.login-form input{
    height: 40px;
    margin-bottom: 30px;
    width: 300px;
    padding-left: 10px;
    border: 1px solid rgb(127, 196, 25);
}
.login-form button{
    height: 40px;
    margin-bottom: 30px;
    width: 312px;
    /* padding-left: 10px; */
    border: 1px solid rgb(127, 196, 25);
    background-color: green;
    font-size: 15px;
    color: white;
}
.login-form button:hover{
    background: rgb(1, 95, 1);
    cursor: pointer;
}

.login-block h1{
    display: flex;
    margin: 20px;
}
#login-text{
    display: inline;
    font-size: 28px;
    padding-right: 220px;
    margin: 0px;
    float: left;
    margin-bottom: 28px;
    font-family: 'Lato', sans-serif;
}

#login-header{
   width: 314px;
   float: left;
}


.login-block p{
    display: inline-flexbox;
    border: 1px solid rgb(236, 236, 236);
    height: 40px;
    margin-bottom: 30px;
    width: 300px;
    margin: 0px;
    width:  362px;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}
#signup-link{
    text-align: center;
    padding-bottom: 12px; 
}
#signup-link #signup-link-button{
    text-decoration: none;
    color: blue;
}
#signup-link #signup-link-button:hover{
    text-decoration: underline;
    color:black;
}
#term{
    width: 362px;
    display: inline;
    font-size: 12px;
}
#term span{
    color: rgb(83, 83, 216);
}


.login-block .demo-block{
    margin-bottom: 30px;
}

.login-block .demo-block #demo-button{

    height: 40px;
    width: 312px;
    background: green;
    color: white;
    border: none;
}
.login-block .demo-block #demo-button:hover{
    background: rgb(1, 95, 1);
    cursor: pointer;
}