/* 
.login-block{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid rgb(238, 237, 237);
    margin: 70px auto 0 auto;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 500px;
}

.login-block > * {
    display: block;
    text-align: center;
    background-color: white;
    block-size: border-box;
}

.login-block > #login-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: white;
}

#login-block > #login-text{
    display: inline-block;
    text-align: left;
    width: fit-content;
} */
.login-container{
    background-color: rgb(248, 248, 248);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    /* vertical-align: middle; */
}
.login-block{
    /* min-height: 100vh; */
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gainsboro;
    width: 400px;
    height: 80%;
    margin-top: 100px;
}

.login-form{
    margin: none;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.login-form input{
    height: 40px;
    margin-bottom: 30px;
    width: 300px;
    padding-left: 10px;
    border: 1px solid rgb(127, 196, 25);
}
.login-form button{
    height: 40px;
    margin-bottom: 30px;
    width: 312px;
    /* padding-left: 10px; */
    border: 1px solid rgb(127, 196, 25);
    background-color: green;
    font-size: 15px;
    color: white;
}
.login-block h1{
    display: flex;
    justify-content: flex-start;
    color: red;
    
}

#login-hearder{
    display: flex;
    float: left;
}

.login-block p{
    display: inline-flexbox;
    border: 1px solid rgb(236, 236, 236);
    height: 40px;
    margin-bottom: 30px;
    width: 300px;
    margin: 0px;
    width:  362px;
    padding: 20px;
}
#signup-link{
    text-align: center;
}