@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&family=Open+Sans+Condensed:wght@300&display=swap');

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid rgb(231, 227, 227);
    height: 25px;
}

.mid-nav{
    background-color: white;
    text-decoration: none;
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 200%;
}
.mid-nav > #tickstart-link {
    background-color: white;
    text-decoration: none;
    /* font-family: ; */
}
.mid-nav:hover{
    cursor: pointer;
}

.right-nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.right-nav>div{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.right-nav *:hover{
    cursor: pointer;
    color: rgb(54, 80, 15);
}

.right-nav #search{

    width: 15px;
    height: 15px;
    padding-right: 10px;
}

.left-nav {
    display: flex;
    /* justify-content: space-between; */
}
.left-nav div *:hover{
    cursor: pointer;
    color: rgb(54, 80, 15);
}
.left-nav>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.left-nav>div>#discover{
    padding-right: 10px;
} 

#login{
    text-decoration: none;
    background-color: white;
    padding-right: 10px;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

#login:hover{
    /* text-decoration: underline; */
    color: rgb(54, 80, 15);
}

<<<<<<< HEAD
#start-a-project, #login{
    text-decoration: none;
    color: black
}
#start-a-project:hover, #login:hover{
    text-decoration: underline;
    color: lightgreen
=======
.navbar #search{
    padding-left: 10px;
    padding-right: 20px;
>>>>>>> main
}