.profile-dropdown{
    position: absolute;
    display: block;
    top: 100px;
	right: 20px;
	background-color: white;
	border: 1px solid rgb(206, 203, 203);
	padding: 20px;
	width: 225px;
	z-index: 1;
	text-align: left;
	font-weight: initial;
}
.logout-block{
	border-top: 1px solid rgb(206, 203, 203);
	padding-top: 20px;
	position: relative;
}
.profile-dropdown #logout{
	position: relative;
	width: auto;
}

#profile-button{
	border: none;
	background: white;
}
#earth{
	height: 40px;
	width: 40px;
}