@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.section-bar{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid  gainsboro;
    align-content: center;
    height: 60px;
}
.section-container{
    width: 1000px;
    align-items: center;
    margin: auto;
}
#section-index{
    list-style-type: none;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #656969;
    /* overflow: scroll;
    direction: rtl; */
}




#section-index li {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    margin-left: 18px;
    margin-right: 18px;
  }
  #section-index li:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0px;
    background: transparent;
    transition: height 1s ease, background-color 1s ease;
  }
  #section-index li:hover:after {
    width: 100%;
    background: rgb(120, 120, 233);
  }
  #section-index li:hover{
    color: rgb(2, 177, 2);
  }