.section-bar{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid  gainsboro;
    align-content: center;
    height: 60px;
}
.section-container{
    width: 702px;
    align-items: center;
    margin: auto;
}
#section-index{
    list-style-type: none;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    font-family: 'Yusei Magic', sans-serif;
    /* overflow: scroll;
    direction: rtl; */
}




#section-index li {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
  }
  #section-index li:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: height 10s ease, background-color 2s ease;
  }
  #section-index li:hover:after {
    width: 100%;
    background: rgb(120, 120, 233);
  }
  #section-index li:hover{
    color: rgb(2, 177, 2);
  }