@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

.signup-container{
    background-color: rgb(230, 230, 230);
    display: flex;
    position: center;
    justify-content: center;
    align-content: center;
    height: auto;
}

.signup-block{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gainsboro;
    width: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.log-in{
    display: inline-block;
    background: rgb(245, 244, 244);
    width: 400px;
    text-align: center;
    padding-top: 20px ;
    padding-bottom: 20px;
    font-family: 'Nunito', sans-serif;
}
.log-in #login-link{
    text-decoration: none;
    color: blue;
    font-weight: bold;
}
.signup-form{
    display: flex;
    flex-direction: column;
}
.signup-form *{
    width: 300px;
}
.signup-form h1{
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.signup-form input{
    height: 40px;
    margin-bottom: 30px;
    width: 300px;
    padding-left: 10px;
    border: 1px solid rgb(161, 189, 119);
}
.signup-form input:focus{
    outline: none !important;
    border: 1px solid rgb(48, 80, 1);
}

.signup-form #signup-button{
    height: 40px;
    margin-bottom: 30px;
    width: 312px;
    color: white;
    background-color: rgb(105, 156, 33);
    border: none;
}
.signup-form #signup-button:hover{
    outline: none !important;
    background-color: rgb(61, 92, 18);
    cursor: pointer;
}

.signup-form p{
    font-size: 12px;
    margin-bottom: 30px;
}
.signup-form span{
    color: rgb(83, 83, 216);
}

.signup-form .signup-errors{
    width: 314px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: red;
    color: white;
    margin-bottom: 20px;
    
}

.signup-form .signup-errors li{
    font-size: 16px;
    margin-left: 10px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}